<p id="notice"><%= notice %></p>
<%= link_to 'Back to Events', events_path %>
<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= link_to 'Show events attending', user %></td>  
      </tr>
    <% end %>
  </tbody>
</table>

<br>

