<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<h4>Events Attending</h4>
<% @attending.each do |t| %>
    <div>
        <%= "- " + t.description %>
    </div>
<% end %>

<%= link_to 'Back', users_path %>
