/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background-color: rgb(243, 247, 253);
  padding: 0;
  margin: 0
}
a {
 text-decoration: none
}

header {
  background-color: rgb(36, 35, 34);
  padding: 10px;
}

span.logo {
  color: darkorange !important;
  font-size: 14px;
  letter-spacing: 0;
  margin: 0 20px;
  font-weight: 900;
}

header a{
  color: white !important;
  font-size: 12px
}
header span{
  color: white !important;
  font-size: 10px
}
main {
  margin: 0 auto;
  padding: 10px 30px;
}

hr {
  margin: 0
}

h1 {
  color: red;
}

h3 {
  color: orange;
}

.username {
  color: rgb(49, 12, 83);
  float: right;
  clear: both;
}